/* Write your CSS here */
.teammatches-bg-container {
  background-color: rgb(60, 9, 9);
  padding: 20px;
  
}
.recent-matches-container {
  display: flex;
  flex-wrap: wrap;
}
.banner {
  width: 80vw;
}
