/* Write your CSS here */
.latest-match-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  width: 60vw;
}

.team-logo {
  height: 100px;
}
.logo-container {
  align-self: center;
}
